body{
   
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 110vh;
}
div{
    margin-left: 17%;
    margin-top: 5%;
}
#ig{

    margin-top: 25%;
    margin-left: 15%;
}